body {
	margin: 0;
}

#wrap {
	display: flex;
	flex-direction: row;
	height: 100vh;
	overflow: hidden;
}

/* Left container with logo and title */
#logo-container {
	width: 6%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#logo-container>#logo {
	margin-left: 10%;
	margin-top: 20px;
}

#logo-container>#logo>img {
	width: 40%;
}

#logo-container>#agency {
	margin: auto;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	transform-origin: center center 0;
	transform: rotate(-90deg);
	width: 300px;
}

#logo-container>#agency>h1 {
	text-align: center;
	letter-spacing: 3.5px;
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 5px;
	margin-bottom: 0;
}

#logo-container>#vk {
	margin-left: 15%;
	margin-bottom: 20px;
}

#logo-container>#vk>img {
	width: 35%;
}

/* Container with main text*/
#text-container {	
	width: 54%;
	background-color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
}

#text-box {
	font-family: "Manrope";
	z-index: 100;
	margin: auto;
	width: 60%;
	max-height: 60%;
}

#text-box>h1 {
	margin-top: 0;
	font-weight: 700;
	font-size: 2em;
}

#text-box>p {
	font-weight: 400;
	font-size: 1em;
}

/* Diagonal background line */
#diagonal {	
	top: -15%;
	position: absolute;
	right: -20%;
	height: 120vh;
	width:350px;
	background-color: #fff;
	transform: rotate(15deg);
}

/* Container for main image */
#image-box {
	z-index: 100;
	position: absolute;
	top: 23%;
	right: 10%;
	height: 70%;
}

/* Second background color */
#second-background {
	width: 40%;
	background-color: #ffc000;
}

/* Top buttons */
#top-menu {
	z-index: 100;
	font-weight: 600;
	font-size: .6em;
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 18%;
}

#top-menu>div {
	color: #fff;
	transition: all .3s ease-out;
}

#top-menu>div:hover {
	transform: scale(1.5);
	color: #333;
}

/* Bottom buttons */
#bottom-menu {
	font-weight: 600;
	z-index: 100;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 65%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#home-button {
	transition: all .3s ease;
}

#home-button:hover {
	transform: scale(1.2);
	color: #3370d7;
}

/* Slider navigation */
#slider-counter {
	width: 210px;
	height: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.number {
	margin: auto;
	text-align: center;
	width: 30px;
	color: #666666;
	transition: all .3s ease-out;
}

.number.active {
	transform: scale(1.2);
	color: #3370d7;
}

.number:hover {
	transform: scale(1.5);
}

.line {
	margin: auto;
	height: 2px;
	background-color: #1d1d1d;
	width: 0;
	transition: width .3s ease-out;
}

.line.medium {
	width: 40px;
}

.line.long {
	width: 80px;
}