body {
	margin: 0;
}

#wrap {
	display: flex;
	flex-direction: row;
	height: 100vh;
	overflow: hidden;
}

#logo-container {
	width: 6%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#logo-container>#logo {
	margin-left: 10%;
	margin-top: 20px;
}

#logo-container>#logo>img {
	width: 40%;
}

#logo-container>#agency {
	margin: auto;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	transform-origin: center center 0;
	transform: rotate(-90deg);
	width: 300px;
	
}

#logo-container>#agency>h1 {
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 0;
	width: 300px;
}

#logo-container>#vk {
	margin-left: 15%;
	margin-bottom: 20px;
}

#logo-container>#vk>img {
	width: 35%;
}

#text-container {	
	width: 54%;
	background-color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
}

#diagonal {	
	top: -15%;
	position: absolute;
	right: -20%;
	height: 120vh;
	width:350px;
	background-color: #fff;
	transform: rotate(15deg);
}

#text-box {
	font-family: "Manrope";
	z-index: 100;
	margin: auto;
	width: 60%;
	max-height: 60%;
}

#text-box>h1 {
	font-weight: 700;
	font-size: 2em;
}

#text-box>p {
	font-weight: 400;
	font-size: 1em;
}

#cup-box {
	z-index: 100;
	position: absolute;
	top: 20%;
	right: 10%;
	height: 70%;

}

#image-container {
	width: 40%;
	background-color: #ffc000;
}